[submodule "TuviSRPLib"]
	path = gitmodules/TuviSRPLib
	url = ../../Eppie-io/TuviSRPLib.git
[submodule "TuviRestClientLib"]
	path = gitmodules/TuviRestClientLib
	url = ../../Eppie-io/TuviRestClientLib.git
